<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caixy.competitionservice.mapper.RegistrationInfoMapper">

    <resultMap id="BaseResultMap" type="com.caixy.model.entity.RegistrationInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="teamId" column="teamId" jdbcType="BIGINT"/>
            <result property="raceId" column="raceId" jdbcType="BIGINT"/>
            <result property="createdTime" column="createdTime" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,teamId,raceId,
        createdTime,updatedTime
    </sql>

    <select id="countTeamsByRaceIds" resultType="com.caixy.model.vo.match.MyCreateRaceVO">
        SELECT mi.id,
               mi.matchName,
               mi.matchStatus,
               mi.startTime,
               mi.endTime,
               mi.signUpStartTime,
               mi.signUpEndTime,
       (SELECT COUNT(*)
              FROM registration_info ri
              WHERE ri.raceId = mi.id)
                   as hasRegistrationNum
        FROM match_info mi
        WHERE mi.isDelete = 0
            AND
            mi.createdUser = #{userId};
    </select>
</mapper>
