<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caixy.notificationservice.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.caixy.model.entity.Message">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="subject" column="subject" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="targetUrl" column="targetUrl" jdbcType="VARCHAR"/>
            <result property="fromUser" column="fromUser" jdbcType="BIGINT"/>
            <result property="forUser" column="forUser" jdbcType="BIGINT"/>
            <result property="relationshipId" column="relationshipId" jdbcType="BIGINT"/>
            <result property="expireTime" column="expireTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,subject,content,targetUrl,
        fromUser,forUser,relationshipId,
        expireTime,createTime
    </sql>
</mapper>
