<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caixy.teamservice.mapper.TeamInfoMapper">

    <resultMap id="BaseResultMap" type="com.caixy.model.entity.TeamInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="raceId" column="raceId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="teamTags" column="teamTags" jdbcType="VARCHAR"/>

            <result property="maxNum" column="maxNum" jdbcType="INTEGER"/>
            <result property="categoryId" column="categoryId" jdbcType="BIGINT"/>
            <result property="eventId" column="eventId" jdbcType="BIGINT"/>
            <result property="expireTime" column="expireTime" jdbcType="TIMESTAMP"/>
            <result property="isPublic" column="isPublic" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,raceId,userId,
        name,description,teamTags,maxNum,
        categoryId,eventId,expireTime,
        isPublic,status,password,
        createTime,updateTime,isDelete
    </sql>

    <resultMap id="UserWorkVOResultMap" type="com.caixy.model.vo.user.UserTeamWorkVO">
        <result property="userName" column="userName"/>
        <result property="userDepartment" column="userDepartment"/>
        <result property="userMajor" column="userMajor"/>
        <result property="userAccount" column="userAccount"/>
        <result property="userEmail" column="userEmail"/>
        <result property="teamId" column="teamId"/>
        <result property="teamUserRole" column="userRole"/>
    </resultMap>

    <select id="listUserWorkVOByTeamIds" resultMap="UserWorkVOResultMap">
        SELECT
        u.userName,
        d.name AS userDepartment,
        m.name AS userMajor,
        u.userAccount AS userAccount,
        u.userEmail AS userEmail,
        ut.teamId AS teamId,
        ut.userRole AS userRole
        FROM
        user_team ut
        INNER JOIN user u ON ut.userId = u.id
        LEFT JOIN department_info d ON u.userDepartment = d.id
        LEFT JOIN major_info m ON u.userMajor = m.id
        WHERE
        ut.teamId IN
        <foreach item="teamId" collection="teamIds" open="(" separator="," close=")">
            #{teamId}
        </foreach>
        AND u.isDelete = 0
    </select>
</mapper>
