<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caixy.marketservice.mapper.DemandsMapper">

    <resultMap id="BaseResultMap" type="com.caixy.model.entity.Demands">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="reward" column="reward" jdbcType="DECIMAL"/>
            <result property="creatorId" column="creatorId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="deadline" column="deadline" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,description,
        status,reward,creatorId,
        createTime,updateTime,deadline
    </sql>
</mapper>
